@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* img{
    width: 100%;
    display: flex;
} */

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #474766;
    background: linear-gradient(to bottom, #474766, rgb(65, 60, 60));
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    border: 1px solid black;



}



.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    width: auto
}


header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p {

    color: #ccc;
}

header .image {
    position: relative;
}


.proyectos-header {
    text-align: center;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}


header .image img {
    max-width: 600px;

}


.project-card {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.project-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}


.project-info {
    padding: 1rem;
}

.project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-info p {
    color: #666;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #1d4ed8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2563eb;
}

.images {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.images img {
    width: 400px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.3);
}


.titulo-proyectos {
    text-align: center;
}

.tecnologias {
    display: flex;
    gap: 10px;
    /* Agrega espacio entre las imágenes */
    margin-top: 10px;
    /* Ajusta el margen superior según sea necesario */
}

.tecnologias img {
    width: 50px;
    /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    /* Añade cualquier otro estilo necesario para las imágenes */
}

.social-img {
    display: inline-block;
    max-width: 45px;
    /* ajusta este valor según sea necesario */
    height: auto;
    margin-right: 9px;
}

footer {
    background-color: #333;
    color: #fff;
    height: 100px;
    margin-bottom: 0;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



/* @keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}



.container-sections{
    height: auto;
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
} */



